# Node
node_modules/
dist/
*.tgz

# Python
__pycache__/
*.egg-info/
dist/
build/
.venv/

# Go
*.exe
vendor/

# Rust
target/

# Ruby
*.gem
.bundle/
vendor/

# PHP
vendor/

# Dart/Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Java/Kotlin
build/
*.jar
.gradle/
target/

# C#
bin/
obj/
*.nupkg

# Swift
.build/
*.xcodeproj
